.container-inline {
    display: flex;
    margin: 12px;
    height: 100%;
}

.button {
    margin-top: 16px;
    margin-right: 12px;
    width: 160px;
}

.example-container {
    display: flex;
    margin: 12px;
    height: 100%;
}
