<div class="container-inline">
    <mat-drawer-container autosize>
      <mat-drawer #drawer mode="side" opened="true">
        <button class="button" mat-raised-button (click)="goTo('find')">
          Find game
        </button>
        <button class="button" mat-raised-button (click)="goTo('watch')">
          Watch Game
        </button>
        <button class="button" mat-raised-button (click)="goTo('ai')">
          Watch AI mode
        </button>
      </mat-drawer>
    </mat-drawer-container>
    <router-outlet></router-outlet>
  </div>