.container-inline {
    display: flex;
    margin: 12px;
    height: 94%;
}

.button {
    margin-top: 16px;
    margin-right: 12px;
    width: 160px;
}

.example-container {
    display: flex;
    margin: 12px;
    height: 94%;
}

mat-toolbar {
    height: 5%;
    position: relative;
    background: #004a9f;
    color: white;
}