.center {
    display: flex;
    justify-content: center;
    margin: 32px;
}

.padding {
    padding-left: 16px;
}

.flex-container {
    display: flex;
  }

.left-column {
    flex: 1;
    position: relative;
    left: 20%;
  }

.state-menu {
    margin-top: 2em;
}

.state-button {
    margin-top: 1em;
    margin-inline: 5px;
}

.center {
    display: flex;
    justify-content: center;
}

.margin-auto-vertically {
    margin-left: auto;
    margin-right: auto;
}

:host {
    margin-left: auto;
    margin-right: auto;
}