<div class="flex-child center">
  <table class="chess-board">
    <tbody>
      <tr>
        <th></th>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
        <th>e</th>
        <th>f</th>
        <th>g</th>
        <th>h</th>
      </tr>
      <tr>
        <th>8</th>
        <td class="light">{{ getPiece(this.currentBoard[0]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[1]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[2]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[3]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[4]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[5]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[6]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[7]) }}</td>
      </tr>
      <tr>
        <th>7</th>
        <td class="dark">{{ getPiece(this.currentBoard[8]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[9]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[10]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[11]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[12]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[13]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[14]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[15]) }}</td>
      </tr>
      <tr>
        <th>6</th>
        <td class="light">{{ getPiece(this.currentBoard[16]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[17]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[18]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[19]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[20]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[21]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[22]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[23]) }}</td>
      </tr>
      <tr>
        <th>5</th>
        <td class="dark">{{ getPiece(this.currentBoard[24]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[25]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[26]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[27]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[28]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[29]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[30]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[31]) }}</td>
      </tr>
      <tr>
        <th>4</th>
        <td class="light">{{ getPiece(this.currentBoard[32]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[33]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[34]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[35]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[36]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[37]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[38]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[39]) }}</td>
      </tr>
      <tr>
        <th>3</th>
        <td class="dark">{{ getPiece(this.currentBoard[40]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[41]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[42]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[43]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[44]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[45]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[46]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[47]) }}</td>
      </tr>
      <tr>
        <th>2</th>
        <td class="light">{{ getPiece(this.currentBoard[48]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[49]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[50]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[51]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[52]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[53]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[54]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[55]) }}</td>
      </tr>
      <tr>
        <th>1</th>
        <td class="dark">{{ getPiece(this.currentBoard[56]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[57]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[58]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[59]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[60]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[61]) }}</td>
        <td class="dark">{{ getPiece(this.currentBoard[62]) }}</td>
        <td class="light">{{ getPiece(this.currentBoard[63]) }}</td>
      </tr>
    </tbody>
  </table>
</div>
