<table mat-table [dataSource]="tableData" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Move. </th>
      <td mat-cell *matCellDef="let element"> {{element.row}}. </td>
    </ng-container>
  
    <ng-container matColumnDef="pieces-white">
      <th mat-header-cell *matHeaderCellDef> White </th>
      <td mat-cell *matCellDef="let element"> {{element.white}} </td>
    </ng-container>
  
    <ng-container matColumnDef="pieces-black">
      <th mat-header-cell *matHeaderCellDef> Black </th>
      <td mat-cell *matCellDef="let element"> {{element.black}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
