.demo-table {
    width: 400px;
  }
  
  .mat-column-demo-position {
    width: 4px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-pieces-white{
    text-align: center;
  }
  
  .mat-column-pieces-black {
    text-align: center;
  }
  